<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bob.com.example.root.blazeguide">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".KnightScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_knight_screen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".DragonScreen"
            android:label="@string/title_activity_dragon_screen"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeScreen" />

        <activity
            android:name=".ResourcesScreen"
            android:parentActivityName=".HomeScreen" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeScreen" />

        <activity
            android:name=".AttackingTricksScreen"
            android:label="@string/title_activity_attacking_tricks_screen"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeScreen" />

        <activity
            android:name=".DefendingTricks"
            android:label="@string/title_activity_defending_tricks"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeScreen" />

        <activity
            android:name=".BOBVideos"
            android:label="@string/title_activity_bobvideos"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeScreen" />

        <activity
            android:name=".kvk"
            android:label="@string/title_activity_kvk"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".GemDrive"
            android:label="@string/title_activity_gem_drive"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeScreen" />

        <activity
            android:name=".BuildTimeCalculator"
            android:label="@string/title_activity_build_calculator"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".HomeScreen" />

        <activity android:name=".AboutMe" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".LordAndDragon"
            android:label="@string/title_activity_lord_and_dragon"
            android:parentActivityName=".HomeScreen"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreen" />
        </activity>
        <activity
            android:name=".AutoChestOpen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_auto_chest_open"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>